# Python virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Local development / editor files
.DS_Store
.vscode/
.idea/

# Jupyter / notebooks checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

